.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}

:root > * {
  /*/--md-primary-fg-color: #283663;/*/ 
  --md-primary-fg-color:  rgb(0,185,242);
  --md-primary-fg-color--light: #283663;
  --md-primary-fg-color--dark: #868786;
}

a.md-logo > img {
  transform: scale(1.7);
}

.md-typeset a {
  text-decoration: underline !important;
}

.md-nav__link {
  text-decoration: none !important;
}

/* Unify font size */
.md-typeset,
.md-nav,
.md-nav__title {
  font-size: 0.75rem;
}


.md-header {
  color: rgb(40,54,99); /* Altere para a cor desejada */
}
 
.md-header__title {
  font-family: 'Roboto Light', sans-serif;
  font-weight: 100 !important; /* ultra light */
  font-size: 1.3rem !important;
  font-stretch: 70%;           /* deixa mais estreita */
  -webkit-font-smoothing: antialiased; /* suaviza nas telas */
  margin-left: 1rem;
}